/*CUERPO*/

header {
    background-color: white;
    margin-bottom: 0px; 

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 200%;
    padding-top: 27px;
    color: black;
    text-align: left; }
}